<img width="8%" alt="Google Sheets.png" src="https://raw.githubusercontent.com/jupyter-naas/awesome-notebooks/master/.github/assets/logos/Google%20Sheets.png" style="border-radius: 15%">

# Google Sheets - Update Referentials

**Tags:** #googlesheets #gsheet #data #naas_drivers #operations #snippet

**Author:** [Florent Ravenel](https://www.linkedin.com/in/florent-ravenel/)

**Description:** This notebook allows to send data to Google Sheets to a Google Sheets spreadsheet.

## Input

### Import libraries

In [1]:
from naas_drivers import gsheet, linkedin
import pandas as pd
import os
from datetime import date
import naas_data_product
import openai
import time
from googlesearch import search
import re
from difflib import SequenceMatcher

‚úÖ utils file '/home/ftp/abi/utils/data.ipynb' successfully loaded.
‚úÖ utils file '/home/ftp/abi/utils/naas_chat_plugin.ipynb' successfully loaded.
‚úÖ utils file '/home/ftp/abi/utils/naas_lab.ipynb' successfully loaded.
‚úÖ utils file '/home/ftp/abi/utils/openai.ipynb' successfully loaded.

### Setup variables
**Inputs**
- `input_dir`: Input directory to retrieve file from.
- `file_reactions`: Name of the file with reactions to be retrieved.
- `file_comments`: Name of the file with comments to be retrieved.

**Outputs**
- `spreadsheet_url`: Google Sheets spreadsheet URL.
- `sheet_name`: Google Sheets sheet name.
- `append`: If False, data will be canceled and replaced.

In [2]:
# Inputs
input_dir = os.path.join(naas_data_product.OUTPUTS_PATH, "growth-engine", date.today().isoformat())
file_name = "linkedin_interactions"
openai_api_key = naas.secret.get("OPENAI_API_KEY")
li_at = naas.secret.get("LINKEDIN_LI_AT") or "YOUR_LINKEDIN_LI_AT" #example: AQFAzQN_PLPR4wAAAXc-FCKmgiMit5FLdY1af3-2
JSESSIONID = naas.secret.get("LINKEDIN_JSESSIONID") or "YOUR_LINKEDIN_JSESSIONID" #example: ajax:8379907400220387585

# Outputs
spreadsheet_url = naas.secret.get("ABI_SPREADSHEET") or "YOUR_GOOGLE_SPREADSHEET_URL"
ref_contacts_name = "CONTACTS"
ref_companies_name = "COMPANIES"
leads_profiles_name = "LEADS_PROFILES"
leads_companies_name = "LEADS_COMPANIES"
append = False

## Model

### Get BDD interactions

In [3]:
df_interactions = pload(input_dir, file_name)    
print('üóÇÔ∏è Interactions:', len(df_interactions))
df_interactions.head(3)

üóÇÔ∏è Interactions: 1568

,ENTITY,SCENARIO,PLATFORM,FIRSTNAME,LASTNAME,FULLNAME,OCCUPATION,INTERACTION,INTERACTION_CONTENT,INTERACTION_SCORE,PROFILE_URL,PUBLIC_ID,CONTENT_TITLE,CONTENT_URL,PUBLISHED_DATE,DATE_EXTRACT
0,J√©r√©my Ravenel,W49-2023,LinkedIn,Abhisek,Nanda,Abhisek Nanda,Product Owner || Business Analyst || Digital S...,POST_REACTION,LIKE,1,https://www.linkedin.com/in/ACoAAAPlOvYBoVWbeK...,abhisek-nanda-a72a7819,Almost every CEOs want to build an internal ch...,https://www.linkedin.com/feed/update/urn:li:ac...,2023-12-04 22:12:53+0100,2023-12-05 11:57:04
1,J√©r√©my Ravenel,W49-2023,LinkedIn,Abraham,Cherian,Abraham Cherian,Group Solutions Leader @ Brane | TEDx speaker ...,POST_REACTION,LIKE,1,https://www.linkedin.com/in/ACoAAAG1Qd0B4tWJNT...,abrahamcherian,Almost every CEOs want to build an internal ch...,https://www.linkedin.com/feed/update/urn:li:ac...,2023-12-04 22:12:53+0100,2023-12-05 11:57:04
2,J√©r√©my Ravenel,W49-2023,LinkedIn,Abraham,Cherian,Abraham Cherian,Group Solutions Leader @ Brane | TEDx speaker ...,POST_COMMENT,Great ideas. Some really exciting work already...,3,https://www.linkedin.com/in/ACoAAAG1Qd0B4tWJNT...,abrahamcherian,Almost every CEOs want to build an internal ch...,https://www.linkedin.com/feed/update/urn:li:ac...,2023-12-04 22:12:53+0100,2023-12-05 11:57:07

### Get data "CONTACTS" from Google Sheets spreadsheet

In [4]:
df_contacts = gsheet.connect(spreadsheet_url).get(sheet_name=ref_contacts_name)
print("CRM Contacts:", len(df_contacts))
df_contacts.head(3)

CRM Contacts: 23839

,FIRSTNAME,LASTNAME,FULLNAME,EMAIL,LINKEDIN_URL,COMPANY,CREATEDATE,CONTACT_ID,OWNER_ID,OWNER_EMAIL
0,Kudos,ANASS,Kudos ANASS,kudos95anass@gmail.com,NA,NA,2023-12-05T11:11:08.968Z,776451,NA,NA
1,NA,NA,NA NA,aurelien@lesbellesboites.com,NA,NA,2023-12-05T10:07:57.366Z,776401,158373005,jeremy@naas.ai
2,NA,NA,NA NA,jujudu33700@live.fr,NA,NA,2023-12-05T10:03:28.723Z,776351,NA,NA

### Get data "COMPANIES" from Google Sheets spreadsheet

In [5]:
df_companies = gsheet.connect(spreadsheet_url).get(sheet_name=ref_companies_name)
print("CRM Companies:", len(df_companies))
df_companies.head(3)

CRM Companies: 4199

,NAME,INDUSTRY,COUNTRY,LINKEDINBIO,LINKEDIN_URL,CREATEDATE,CONTACT_ID,OWNER_ID,OWNER_EMAIL
0,Lesbellesboites,NA,France,Les Belles Bo√Ætes is a venture capital and pri...,https://www.linkedin.com/company/les-belles-bo...,2023-12-05T10:07:58.180Z,18320098607,NA,NA
1,Appleid,NA,United States,Apple is a multinational corporation that desi...,https://www.linkedin.com/company/apple,2023-12-04T21:51:42.705Z,18315850819,NA,NA
2,Prompt,NA,NA,NA,https://www.linkedin.com/company/promptb2b,2023-12-04T21:51:41.529Z,18315831358,158373005,jeremy@naas.ai

### Get data "LEADS" from Google Sheets spreadsheet

In [6]:
df_leads = gsheet.connect(spreadsheet_url).get(sheet_name=leads_profiles_name)
print("Leads:", len(df_leads))
df_leads.head(1)

Leads: 848

,FIRSTNAME,LASTNAME,FULLNAME,OCCUPATION,PROFILE_URL,PUBLIC_ID,INTERACTION_SCORE,ICP,COMPANY,NOTES,CRM_CONTACT_ID,LAST_INTERACTION_DATE,LAST_CONTENT_URL_INTERACTION,LAST_CONTENT_TITLE_INTERACTION
0,Jonathan,La Cruz,Jonathan La Cruz,Information Technology & Business intelligence...,https://www.linkedin.com/in/ACoAAAlYSwQBS9GBiC...,jonathanlacruz,80,DataProducer,Finerio Connect,Like 'Happy Thanksgiving everyone. üçÅüçÇü•ß' (https...,663201,Sun. 03 Dec.,https://www.linkedin.com/feed/update/urn:li:ac...,"I would even say ‚ÄúGood AI requires clean data,..."

### Get data "LEADS_COMPANIES" from Google Sheets spreadsheet

In [7]:
df_leads_companies = gsheet.connect(spreadsheet_url).get(sheet_name=leads_companies_name)
print("Leads Companies:", len(df_leads_companies))
df_leads_companies.head(1)

Leads Companies: 321

,COMPANY_ID,COMPANY,COMPANY_NAME,LINKEDIN_URL,DIRECT_INTERACTIONS,INDIRECT_INTERACTIONS,INTERACTION_SCORE,INDUSTRY,STAFF_COUNT,STAFF_RANGE,FOLLOWER_COUNT,COUNTRY,CITY,WEBSITE,TAGLINE,DESCRIPTION
0,70506391,naas.ai,naas.ai,https://www.linkedin.com/company/naas-ai,0,61,61,Software Development,22,2-10,2986,FR,Paris,https://www.naas.ai/,‚ö°Ô∏è All-in-one open source data platform\n#lowc...,Naas is the first Jupyter based data-science p...

### Get interactions unique profiles

In [8]:
def get_unique_profile(
    df_init
):
    # Init
    df_profiles = df_init.copy()
    df_last_interaction = df_init.copy()

    # Groupby profile
    to_group = [
        "FIRSTNAME",
        "LASTNAME",
        "FULLNAME",
        "OCCUPATION",
        "PROFILE_URL",
        "PUBLIC_ID"
    ]
    to_agg = {
        "INTERACTION_SCORE": "sum"
    }
    df_profiles = df_profiles.groupby(to_group, as_index=False).agg(to_agg).drop_duplicates("PROFILE_URL")
    df_profiles = df_profiles.sort_values(by="INTERACTION_SCORE", ascending=False).reset_index(drop=True)
    
    # Add last interactions data
    to_keep = [
        "PROFILE_URL",
        "PUBLISHED_DATE",
        "CONTENT_URL",
        "CONTENT_TITLE"
    ]
    df_last_interaction = df_last_interaction[to_keep].drop_duplicates().drop_duplicates(["PROFILE_URL"])
    
    # Merge dfs
    df = pd.merge(df_profiles, df_last_interaction, how="left")
    to_rename = {
        "PUBLISHED_DATE": "LAST_INTERACTION_DATE",
        "CONTENT_URL": "LAST_CONTENT_URL_INTERACTION",
        "CONTENT_TITLE": "LAST_CONTENT_TITLE_INTERACTION"
    }
    df = df.rename(columns=to_rename)
    df["LAST_INTERACTION_DATE"] = pd.to_datetime(df["LAST_INTERACTION_DATE"].str[:-5]).dt.strftime("%a. %d %b.")
    df = df.sort_values(by=["INTERACTION_SCORE", "LAST_INTERACTION_DATE"], ascending=[False, False])
    return df.reset_index(drop=True)

df_profiles = get_unique_profile(df_interactions)
print("Profiles:", len(df_profiles))
df_profiles.head(1)

Profiles: 953

,FIRSTNAME,LASTNAME,FULLNAME,OCCUPATION,PROFILE_URL,PUBLIC_ID,INTERACTION_SCORE,LAST_INTERACTION_DATE,LAST_CONTENT_URL_INTERACTION,LAST_CONTENT_TITLE_INTERACTION
0,Jonathan,La Cruz,Jonathan La Cruz,Information Technology & Business intelligence...,https://www.linkedin.com/in/ACoAAAlYSwQBS9GBiC...,jonathanlacruz,80,Sun. 03 Dec.,https://www.linkedin.com/feed/update/urn:li:ac...,"I would even say ‚ÄúGood AI requires clean data,..."

### Update Ref Contact

In [9]:
prompt_company = """
I will give you the occupation from a profile I get from LinkedIn, you will return the company you can extract from by checking the word after 'at' or '@'.
If you don't find it return "NA"
Don't put the results into quotes.
"""

prompt_icp = """
I have 2 ideal customer profile, one is a 'data producer' with basic knowledge of Python that could use our Notebook templates to create plugins. 
These plugions are then distributed data via our NaasAI Chat interface.
The other one is a 'data consummer' that will enjoy using NaasAI Chat for its basic LLMs integration but also interested in having its own data available, hence work with the data producer. 
I will give you the occupation from a profile I get from LinkedIn, you will return stricly and only one of the following values inside the simple quotes based on the best match 'DataProducer', 'DataConsummer', 'NotICP' or 'NA' if you don't find a plausible match with the first 3 values.
Don't put the results into quotes.
"""

def get_interactions_by_profile(
    df_init,
    contacts
):
    # Init
    df = df_init.copy()
    interactions = {}
    
    # Cleaning
    to_select = [
        "PROFILE_URL",
        "CONTENT_TITLE",
        "CONTENT_URL",
        "INTERACTION",
        "INTERACTION_CONTENT"
    ]
    df = df[to_select].sort_values(by="PROFILE_URL").reset_index(drop=True)
    df["INTERACTION_TEXT"] = ""
    df.loc[df["INTERACTION"] == "POST_REACTION", "INTERACTION_TEXT"] = df["INTERACTION_CONTENT"].str.capitalize() + " '" + df["CONTENT_TITLE"].str.strip() + "' (" + df["CONTENT_URL"] + ")"
    df.loc[df["INTERACTION"] == "POST_COMMENT", "INTERACTION_TEXT"] = "Comment '" + df["INTERACTION_CONTENT"].str.capitalize() + "' on '" + df["CONTENT_TITLE"].str.strip() + "' (" + df["CONTENT_URL"] + ")"

    # Create interactions by profile
    for contact in contacts:
        tmp_df = df.copy()
        tmp_df = tmp_df[tmp_df["PROFILE_URL"] == contact].reset_index(drop=True)
        interests = ""
        for row in tmp_df.itertuples():
            interaction_text = row.INTERACTION_TEXT
            interests = f"{interests}{interaction_text}, "
        interactions[contact] = interests.strip()
    return interactions

def remove_emojis(text):
    # Emoji pattern
    emoji_pattern = re.compile("["
                               u"\U0001F600-\U0001F64F"  # emoticons
                               u"\U0001F300-\U0001F5FF"  # symbols & pictographs
                               u"\U0001F680-\U0001F6FF"  # transport & map symbols
                               u"\U0001F1E0-\U0001F1FF"  # flags (iOS)
                               u"\U00002500-\U00002BEF"  # chinese char
                               u"\U00002702-\U000027B0"
                               u"\U00002702-\U000027B0"
                               u"\U000024C2-\U0001F251"
                               u"\U0001f926-\U0001f937"
                               u"\U00010000-\U0010ffff"
                               u"\u2640-\u2642"
                               u"\u2600-\u2B55"
                               u"\u200d"
                               u"\u23cf"
                               u"\u23e9"
                               u"\u231a"
                               u"\ufe0f"  # dingbats
                               u"\u3030"
                               "]+", flags=re.UNICODE)
    # Remove emojis from the text
    text = emoji_pattern.sub(r'', text)
    return text.strip()

def update_contacts_info(
    df_init,
    df_leads,
    df_contacts,
    input_dir,
):
    # Init
    df = df_init.copy()

    # Filter on profile and concat with leads init
    df = df[df["PROFILE_URL"].str.contains("https://www.linkedin.com/in/.+")]
    df = df.sort_values(by=["INTERACTION_SCORE"], ascending=[False]).reset_index(drop=True)
    df = pd.concat([df_leads, df]).drop_duplicates("PROFILE_URL").fillna("TBD")

    # Cleaning: Remove emojis from name and occupation
    df["FIRSTNAME"] = df.apply(lambda row: remove_emojis(row["FIRSTNAME"]), axis=1)
    df["LASTNAME"] = df.apply(lambda row: remove_emojis(row["LASTNAME"]), axis=1)
    df["OCCUPATION"] = df.apply(lambda row: remove_emojis(row["OCCUPATION"]), axis=1)
    df["FULLNAME"] = df["FIRSTNAME"] + " " + df["LASTNAME"]

    # Enrich: Additional column: ICP, company and notes
    if not "ICP" in df.columns:
        df["ICP"] = "TBD"
    if not "COMPANY" in df.columns:
        df["COMPANY"] = "TBD"
    if not "CRM_CONTACT_ID" in df.columns:
        df["CRM_CONTACT_ID"] = "TBD"
        
    # Create notes from interactions
    leads = df["PROFILE_URL"].unique()  
    df["NOTES"] = df["PROFILE_URL"].map(get_interactions_by_profile(df_interactions, leads))
    
    # Find ICP and Company
    for row in df.itertuples():
        index = row.Index
        fullname = row.FULLNAME
        occupation = row.OCCUPATION
        icp = row.ICP
        company = row.COMPANY
        profile_url = row.PROFILE_URL
        profile_id = profile_url.split("/")[-1]
        public_id = row.PUBLIC_ID
        crm_contact = row.CRM_CONTACT_ID

        # Get ICP
        if icp == "TBD":
            icp = create_chat_completion(openai_api_key, prompt_icp, occupation)
            print(f"{index+1} - üßë‚Äçüíº '{fullname}' ICP: {icp} ({occupation})")
            df.loc[index, "ICP"] = icp.replace("'", "")
            time.sleep(2)

        # Update Company info
        if company == "TBD":
            company = create_chat_completion(openai_api_key, prompt_company, occupation)
            print(f"{index+1} - üè¢ '{fullname}' Company: {company} ({occupation})")
            df.loc[index, "COMPANY"] = company.replace("'", "")
            time.sleep(2)

        # Find if interaction PROFILE_ID or PUBLIC_ID match with CRM LinkedIn URL then get company name
        if crm_contact == "TBD":
            for x in [profile_id, public_id]:
                tmp_df = df_contacts[df_contacts["LINKEDINBIO"].astype(str).str.contains(x)].reset_index(drop=True)
                if len(tmp_df) > 0:
                    break

            if len(tmp_df) > 0:
                crm_contact_id = ", ".join(tmp_df["CONTACT_ID"].astype(str).unique().tolist())
                if company == "TBD" or company == "NA":
                    crm_companies = ", ".join(tmp_df["COMPANY"].unique().tolist())
                    print(f"{index+1} - üè¢ '{fullname}' CRM Company: {crm_companies} (Company: {company})")
                    df.loc[index, "COMPANY"] = crm_companies
            else:
                crm_contact_id = "NA"
            df.loc[index, "CRM_CONTACT_ID"] = crm_contact_id            
    return df.reset_index(drop=True)
    
df_leads_new = update_contacts_info(
    df_profiles,
    df_leads,
    df_contacts,
    input_dir,
)  
print("Leads updated:", len(df_leads_new))
df_leads_new.head(5)

6 - üè¢ 'William Wied' Company: NA (AI Augmented - Growth Insights & Business Optimization)
17 - üè¢ 'Marc Cavazza' Company: NA (Professor of AI (posting in a personal capacity))
21 - üè¢ 'Peter Jeitschko' Company: NA (I help organizations to automate repetitive task with Artificial Intelligence. Anti-AI regulation activist.)
27 - üè¢ 'Harim M.' Company: NA (I am a Shark)
39 - üè¢ 'Andrejs Karpovs' Company: NA (I help leaders and individual contributors navigate the AI era)
44 - üè¢ 'Hanane DUPOUY' Company: NA (Algorithmic Trader, CFA | AI Passionate)
48 - üè¢ 'Davide Imperati, PhD, CMath, MIMA' Company: NA (Data Engineering, Artificial Intelligence & Data Science, Cloud Migration, Quant Development)
52 - üè¢ 'Jiajun (Jeff) Lu' Company: NA (Make the world more intelligent and happy.)
54 - üè¢ 'Ani Panda' Company: NA (Digital Transformation Leadership | Data Strategy, Architecture, Engineering, Governance & Integration | Startup Enthusiast)
56 - üè¢ 'Emmanuel Oluga' Company: NA (Actualising the Future of Augmented Intelligence)
59 - üè¢ 'Christine Carragee' Company: NA (Pricing & Analytics)
64 - üè¢ 'Philippe Larcher' Company: NA (Virtual Teams & Coaching  60x SEO and 4x Revenue Case Studies)
67 - üè¢ 'Dr. Silas Aslan' Company: NA (Innovation AIchemist - as a chemist, I get it! ¬†(Talk to my new DIGITAL TWIN))
72 - üè¢ 'Edmond Yang' Company: NA (Creative Tech / Visual artist / Creative Director / Speaker . AI enthusiast)
75 - üè¢ 'Kelly Cousineau' Company: NA (Helping business owners create their next adventures and make new friends.)
76 - üè¢ 'Paul V.' Company: NA (Business Sales & Acquisitions - Business Value Growth Consulting)
81 - üè¢ 'Miley Nakamura' Company: NA (Strategy | Digital | Technical Project Leader | Financial Services)
88 - üè¢ 'Jan Kul√≠≈°ek' Company: NA (AI Evangelist | Growth Hacker | I help companies to level up  through AI technologies. I guide you through whole  innovation process | Let me assist you, send me a message)
93 - üè¢ 'Daniel van Veldhoven' Company: NA (Data-Driven Graphical & Animated Content for Events)
95 - üè¢ 'Tomy Yoi' Company: EDC Paris Business School Master of Science International Business Program (Student at EDC Paris Business School Master of Science International Business Program #internship #International Business)
98 - üè¢ 'Alex Kondratiuk' Company: NA (‚å≤ Turning ideas into thriving products | ‚å≤ Proven method to increase startup success by 65% | ‚å≤ 10+ launches in 4 years | ‚å≤ Podcast host)
102 - üè¢ 'Matteo Castiello' Company: NA (Researching new stuff that might solve problems | Generative AI | Process Automation)
104 - üè¢ 'Jonathan Sims' Company: NA (Data Consultant)
105 - üè¢ 'Sergei Veinberg' Company: NA (Automating Marketing Measurement)
106 - üè¢ 'Manan Abdul Ahad' Company: NA (AI Strategy Consultant currently helping SMEs embrace AI | SDLC x Agile x Lean | Google Certified Project Manager)
107 - üè¢ 'Jonathan K.' Company: NA (Artificial Intelligence & Machine Learning)
109 - üè¢ 'Sean Cheo' Company: NA (Learning about generative AI's applications in marketing)
110 - üè¢ 'Jason Head' Company: NA (Software Development; robotics project - jasonmhead.com)
114 - üè¢ 'Tony Carrara' Company: NA (Product Strategy | Product Management)
118 - üè¢ 'Victor Viv√®s' Company: NA (Proudly committed to the Ecological Transition!  #GreenTech Networking for Good #NearBound)
119 - üè¢ 'William Friend' Company: NA (Inspire curiosity, enable happiness, make it happen.)
126 - üè¢ 'Emmanuel C.' Company: NA (Head of Software R&D . Senior Developer)
128 - üè¢ 'Pierre C. Bourbonnais' Company: NA (Values, Vision, Results)
129 - üè¢ 'Pradeep Sanyal' Company: NA (Seasoned CIO & CTO | Data & AI Leader | CIO Advisor | Building AI-first solutions | Advisory Board Member | Ex AWS)
133 - üè¢ 'Patrick Richter' Company: NA (IT Freelancer | Digital Nomad | Cloud Specialist)
134 - üè¢ 'Ranjani Murali' Company: NA (MSc in Applied Computing, Department of Computer Science, University of Toronto)
135 - üè¢ 'Robert DuWors' Company: NA (Digital Substrate Architect with insight from being there.)
138 - üè¢ 'Patrick Vientos' Company: NA (Data/AI Scientist | Software Engineer/Developer | eDiscovery Expert)
140 - üè¢ 'Andy Roy' Company: NA (AI consultant helping clients design and build AI-powered business applications)
142 - üè¢ 'Ralph Case' Company: NA (Leading Engineering teams to deliver quality Data and Software Systems)
145 - üè¢ 'Bill Karwin' Company: NA (Internal server error.)
146 - üè¢ 'James M. Dey' Company: NA (Data, info & now even knowledge has been commoditised. Seek wisdom.)
148 - üè¢ 'Mahtab Syed' Company: NA (IT Leader | Consulting, People, Program, Technology and Revenue | Deliver Data Engineering, Machine Learning, Artificial Intelligence and MLOps Programs | Generative AI | On Cloud (Azure, AWS) | Love Coding and Kaggle)
150 - üè¢ 'Jeremy ARANCIO' Company: NA (NLP Engineer | Freelance)
152 - üè¢ 'Allauddin Khan Pathan TBD' Company: NA (Data Engineer [Bigdata with Spark]‚Ñ¢ 19K+ Followers22M+ Impressions Skills: SparkHiveBigdataHadoopSqoop MRYarnLinuxMysqlPysparkHdfsHQL. MCA with Distinction)
154 - üè¢ 'Charmie Ranodya' Company: NA (Data Engineer | Content Writer | Technical Writer)
157 - üè¢ 'Javier H.' Company: NA (Hardware, Software, Security)
159 - üè¢ 'Jennifer McIntosh' Company: NA (Chapter Lead - Chatbot Conversation Design)
160 - üè¢ 'Islam Salahuddin' Company: NA (Data Analyst | Certified Practitioner and Facilitator)
162 - üè¢ 'Joseph M.' Company: NA (Tell me about your hardest problems. edtech, ml/ai, big-data systems, industrial automation, safety/security, ssi)
165 - üè¢ 'Kristin B.' Company: NA (Product Director / Marketplaces / AdTech / Media / IT / B2B / ex-Microsoft & Adobe / GenAI student / post ipo / late stage startup)
170 - üè¢ 'Chrystalla I.' Company: NA (TBD)
184 - üè¢ 'Ed Waters' Company: NA (Senior Business Analyst)
185 - üè¢ 'Gomathivinayagam Muthuvinayagam' Company: NA (Product builder)
201 - üè¢ 'Dipty Ranjan Padhy' Company: NA (Senior Director - AI, Cloud, Data & Analytics Strategy| MIT Certified Artificial Intelligence professional)
202 - üè¢ 'Abdullahi Yunus' Company: NA (Software Engineer | Data | Bitcoin developer | JavaScript | TypeScript | Python)
203 - üè¢ 'Yashas Devasurmutt' Company: NA (Computational Biology|Multiomics|Artificial Intelligence|Data Science)
207 - üè¢ 'Abubakar Khalil' Company: NA (BSc | MA | M.Ed. | CELTA | Doctoral Student AU - English Teacher - IELTS Trainer - Second Language Education - Distance Education - Educational Technologies.)
208 - üè¢ 'Adhiguna Mahendra' Company: NA (Chief of AI and Business|AI Engineer|Author|PhD Machine Learning&Computer Vision)
209 - üè¢ 'Adrian Blant' Company: NA (Senior Data Governance Architect)
210 - üè¢ 'Agnieszka Miko≈Çajczyk' Company: NA (AI passionate working on LLMs)
211 - üè¢ 'Ahmed A.' Company: NA (Australia | Governance | Risk Management Frameworks | Cyber/Info/Data Security | Data Centres | Technology Project Management and Mitigations)
212 - üè¢ 'Ahmed M. Hussein' Company: NA (Data Scientist | AI Engineer)
217 - üè¢ 'Tim McCarthy' Company: NA (PMI-PBA, PMI-ACP, Advanced Analytics Professional and Agile Practitioner)
219 - üè¢ 'Tom Coyle' Company: NA (Distilling complex problems into easily understood solutions. I'm the guy who gets things done while keeping my eye on the strategic vision and goals, all while bridging the worlds of technologists and decision makers.)
221 - üè¢ 'Tais Sandal Nissen' Company: NA (Conversational AI & BI Manager)
222 - üè¢ 'Ariraju SankaraNarayanan' Company: NA (‡ÆÉ Data Science Student in Linguistics. ‡ÆÉ)
223 - üè¢ 'Armando A.' Company: NA (Venture Builder | Growth)
227 - üè¢ 'Antriksh Agarwal' Company: NA (This Machine is still Learning..)
229 - üè¢ 'Anum Jamil' Company: NA (NLP Engineer| Machine Learning Engineer| Deep Learning Engineer |Tensorflow Developer|Python)
230 - üè¢ 'Alexandre de Spindler' Company: NA (Computer Scientist and Teacher | I Help Design, Prototype, and Validate Language-Based Interactions.)
231 - üè¢ 'Alejandro Manzanos Garcia' Company: NA (Software Developer)
232 - üè¢ 'Anvay Vats' Company: university (I'm at university.)
233 - üè¢ 'Anvesh Rao Nadipelli' Company: NA (Data Analyst | Business Intelligence Engineer | Applied Data Science)
237 - üè¢ 'Ariel Catal√° Valencia' Company: NA (Software Engineer | AWS  Cloud Practicioner | Serverless  passionate | Data  Engineering  lover)
238 - üè¢ 'Alfredo Di Nuccio' Company: NA (Data Scientist)
240 - üè¢ 'Alice Desthuilliers' Company: NA (Human Computation - Data Ops - AI)
241 - üè¢ 'Allan Feitosa' Company: NA (PhD, Data Scientist | Natural Language Processing Engineer | Generative AI)
242 - üè¢ 'Alex Thomas' Company: NA (Data Engineering Manager who stewards technical systems of intelligence in health and human services)
243 - üè¢ 'Alex Vesa' Company: NA (Senior AI Engineer | Code Architect | MLOps | Contractor - Deep diver into complex AI paradigms for over a decade.)
244 - üè¢ 'Alexandre Barros' Company: NA (Blockchain Consultant and Tech Advisor)
246 - üè¢ 'Federico Curiale' Company: NA (Data Scientist)
248 - üè¢ 'Florent J.' Company: NA (Machine Learning Engineer and Data Engineer Freelance)
252 - üè¢ 'Essam Ahmed' Company: University of Waterloo (CS at University of Waterloo | Seeking 4-month Internship Winter 2024)
254 - üè¢ 'Diego Chinellato' Company: NA (CS Teacher | AI Student)
255 - üè¢ 'Diego Lopes' Company: NA (Data Engineer)
258 - üè¢ 'Dinesh Gaddi' Company: NA (Data Scientist)
260 - üè¢ 'Farzan Beroz' Company: NA (AI/ML Data Scientist)
261 - üè¢ 'Fausto Albers' Company: NA (GenAI app Dev | Speaker | Conversational AI | Hospitality)
265 - üè¢ 'Dmytro Druzhniev' Company: NA (Looking for a job | Software Developer | Full stack Developer | JavaScript, TypeScript, React, Node.js, Express, Mongo.DB, PHP)
268 - üè¢ 'Dr. Kathleen K.' Company: NA ("A candle loses nothing of its light when lighting another." Kahlil Gibran)
269 - üè¢ 'Dhruv lunawath' Company: NA (AI, ML, Data Science Enthusiast | Aspiring Entrepreneur | Exploring the Intersection of Technology and Innovation)
271 - üè¢ 'Beat Meyer' Company: NA (Connecting People, Organisation and Technologies - #imagination #interconnections #interdependences #insights #impact #COIN #sensemaking)
272 - üè¢ 'Nico Van de Venne' Company: NA (Here te serve by Empowering Successful Entrepreneurs to forge lasting legacies: Transforming their success into an enduring and lasting impact)
273 - üè¢ 'Kiah Hewitt' Company: NA (Software Engineer & Website Manager | Frontend React Developer, Web Development, Google Analytics)
278 - üè¢ 'Giridhar Vadhul' Company: UCSC (B.S. CS @ UCSC | Former Research Intern at Tech4Good @ UCSC)
280 - üè¢ 'Daniel Danilo Cuevas Mendez' Company: NA (Data Engineer | Data Science | Machine Learning | PySpark | ETL | Datalake | Airflow | Cadence | Dagster | Automatation | Docker | Python | SQL | Dgraph | Java Script | Golang | C / C++ | Google Cloud | AWS | Visa TN)
281 - üè¢ 'Daniel Enrique Carhuas Canchumanya' Company: NA (Bachiller Ciencias Estad√≠stica Inform√°tica)
284 - üè¢ 'Danil Meresenschi' Company: The University of Chicago (Data Engineer | MS in Applied Data Science at The University of Chicago)
285 - üè¢ 'Daria Sanchez' Company: NA (Macro Social Work | Social Services | Digital Marketing | Social Media | Arts & Business | Content Creation | Web Design | Executive Business Administrator | AI & Prompt Engineering Enthusiast)
287 - üè¢ 'Goutham Nivass' Company: NA (Dreamer | Go Getter | Tech Grad)
289 - üè¢ 'GianPiero Pavesi' Company: NA (Cloud Data Architect and MLOps Engineer)
292 - üè¢ 'Giorgio Moretti' Company: NA (Data and AI Strategy - MSc, PMP, TOGAF)
295 - üè¢ 'Ela Popardowska' Company: NA (Future-proofing & Business Innovation Consultant ‚Ä¢ Helping companies increase efficiency & save money on teams by using AI & automation tools)
298 - üè¢ 'Elizabeth Belinskaya' Company: NA (Art Direction, Creative Concepts & Fashion Design :))
301 - üè¢ 'Gokul Raja' Company: NA (AI Innovator | Transforming Industries with Intelligent Solutions)
302 - üè¢ 'Eugene Zilberman' Company: NA (Cloud and Identity Security Architect)
303 - üè¢ 'Evgeny Tyrtyshny' Company: NA (Senior Project Manager)
306 - üè¢ 'Farid ABDI' Company: NA (Information Technology Engineer)
309 - üè¢ 'Erin Fay' Company: NA (Business Expansion: Operations & Strategy | Start-Ups & Emerging Industries | JD/MBA)
310 - üè¢ 'German Malvestiti' Company: NA (Senior Software Developer/Data Engineer/Big Data Development)
314 - üè¢ 'Gabriele Giuffredi' Company: NA (Enterprise Data Architect & Governance)
315 - üè¢ 'Gabriele Mattesini' Company: NA (Alliance Manager)
316 - üè¢ 'Gajanen Karunananthan' Company: Informatics Institute of Technology (IIT) (BIS undergraduate at Informatics Institute of Technology (IIT))
319 - üè¢ 'Ed Hodapp' Company: NA (Software should be like air.)
320 - üè¢ 'Gladys Nana Tchakothe' Company: NA (I share the best data analyst tips | power Bi | SQL | Python | Excel)
322 - üè¢ 'Geanderson Lenz' Company: NA (AI Engineer)
323 - üè¢ 'George Pampoukis' Company: NA (Early Stage Researcher - PhD student)
326 - üè¢ 'Daniel Saldanha' Company: NA (Data Engineer | Data Architecture | GCP Data Engineer | SQL | Python | ETL | Airflow | Docker)
327 - üè¢ 'Edgars Sƒ´klis' Company: NA (Manager of Compliance Analytics & Intelligence | FinCrime Technology | Data & Analytics)
329 - üè¢ 'Edward R. Merchant' Company: NA (Senior Executive Leader/Architect/Advisor specializing in transformation, adoption, and optimization of Digital and AI driven businesses)
332 - üè¢ 'Dr. Thomas Link' Company: NA (Generative AI and Innovation Management Expert | Dr.-Ing., Product Development, Digital Transformation)
335 - üè¢ 'Darwin joan Perez Avenda√±o' Company: Universidad de Antofagasta (Estudiante en Universidad de Antofagasta)
337 - üè¢ 'Daan Tuijnman' Company: Platform & Technologies (Data at Platform & Technologies)
338 - üè¢ 'Daniel Funes' Company: NA (Systems engineer)
340 - üè¢ 'Daniel M.' Company: NA (Experienced Reporting & Data Analyst in Banking Industry  SAS & SQL Developer)
349 - üè¢ 'Jack Gierlich' Company: NA (Impact-First | Growth Nerd | Ensuring Equal Access to Cancer Treatment)
355 - üè¢ 'Gus Molina' Company: NA (Wellness Anywhere!)
356 - üè¢ 'Gwendolyn Gillingham' Company: NA (Experienced Data Scientist and Data Science leader seeking new opportunities. Passionate about language and social justice!)
357 - üè¢ 'Gwendolyn Denise Stripling, Ph.D.' Company: NA (AI/ML | Data & Analytics | Speaker | Author: O'Reilly - Low-Code AI: A Practical Project-Driven Introduction to Machine Learning)
360 - üè¢ 'Hasan Khan' Company: NA (ML Engineer)
361 - üè¢ 'HARIYANTO kratom west borneo AKA basule' Company: NA (Berkuliah di tidak ada)
363 - üè¢ 'Hader Azzini' Company: NA (Tech Manager | Sr Tech Lead | Data Scientist | Solutions Engineer | Data Product)
364 - üè¢ 'Hakan Tas' Company: NA (Front-end web developer with 5+ years of experience. Open to new projects and consultancy services. JavaScript | ReactJS | Web Development | WordPress | Sanity | TailwindCSS)
365 - üè¢ 'Hamza Afzal' Company: NA (Data Annotator | Data Science and Artificial Intelligence trainee | Data Analyst | AI Engineer enthusiast)
366 - üè¢ 'Heather Saul' Company: NA (Communications consultant)
367 - üè¢ 'Hector Adrian Cardenas Camacho' Company: NA (Data Analyst - Power BI Developer / Business Intelligence / SAP ABAP Developer Reports)
368 - üè¢ 'Hemant Sawant' Company: NA (Director, S/w Engg | App Dev Leader | InfoSec | Architecture | Microservices | Cloud | Cyber Security | Data | Speaker | Agile)
369 - üè¢ 'Henry C.' Company: NA (OneReach.ai)
370 - üè¢ 'Hesam Ghiasi' Company: NA (Java developer | NLP researcher)
372 - üè¢ 'Himanshu Pareek' Company: NA (Platform support | Full stack AI ML | Customer Success)
374 - üè¢ 'Jessica Talisman' Company: NA (Top Data Architecture VoiceBuilding information systems for the benefit of all | Taxonomy | Ontology | InfoSci)
376 - üè¢ 'Jimmy Pantia Huam√°n' Company: NA (Economista|MOS Associate 2019|MOS Excel Expert|PowerBi|)
377 - üè¢ 'Claudio Bareato' Company: NA (Internal Auditor spec. in Information Security and Compliance | Engineer, Senior Member IEEE | HBR Advisory Council | Innovation Advisor | Cybersecurity & Emerging Tech writer on LinkedIn)
381 - üè¢ 'Christina Yang' Company: NA (Technology & Creativity, Human-Computer Interactions, Human-AI-Interactions, Entrepreneurship)
386 - üè¢ 'Jomar R.' Company: NA (Data Analyst | Power BI | Power Automate | Project Intelligence | RPA | Sales Operations)
387 - üè¢ 'Jeremiah (Jay) Williams' Company: NA (Computer Scientist)
390 - üè¢ 'Homer Hegedus' Company: NA (Technical Project/Program Management | New Product Development (NPI) | Workflow Optimization | Data Product Management)
394 - üè¢ 'Ian M.' Company: NA (Victoria Per Observatiam - Guest on Vasco Duarte‚Äôs ‚ÄúScrum Master‚Äôs Toolbox‚Äù Podcast!)
396 - üè¢ 'Jitendrasinh Thakor' Company: NA (Global Business Consultant working globally with Android | IOS | Flutter | Swift | Ionic | Chatbot | AI/ML | IoT.)
397 - üè¢ 'Jithesh Vijayakumar' Company: NA (B.A. LL.B. (Hons.) || IAPP Member || Data Privacy || Cyber Security || AI Ethics || Responsible AI)
401 - üè¢ 'Ikram Zouaoui' Company: NA (Data engineer)
402 - üè¢ 'Ilya Petoushkoff' Company: NA (Strategic transport planning | Public Transport Networks & Infrastructure | Street Design and Public Spaces | Interchange hubs & TOD)
403 - üè¢ 'Imtiyaz Ali' Company: NA (Analytics-All)
406 - üè¢ 'Jason Miles' Company: NA (Dreamer of Data Dreams)
407 - üè¢ 'Jason Scheirer' Company: NA (I am capable of writing software)
408 - üè¢ 'Javier D√≠ez P√©rez' Company: NA (Data Product Lead Oncology)
413 - üè¢ 'Karen Wallace' Company: NA (Manager specializing in public health and data science)
414 - üè¢ 'David Gonzo Gonzalez' Company: NA (Talks about AI, complimentary and alternative medicine practitioners & seekers, #psychedelics , and human performance.)
421 - üè¢ 'Jenny Hurn' Company: NA (People-Oriented Leader  Community Cultivator  Culture Champion  DEIB Advocate  Creative Writing Enthusiast  aPHR)
422 - üè¢ 'Deepak Paramanand' Company: NA (Shipping AI Products | Generative AI | Responsible AI | Computer Vision | Natural Language Processing | StandUp Comedian)
424 - üè¢ 'Denis PRODHOMME' Company: NA (#Gestionnaire paie #Nocode fan #Notion fan and Coda too)
425 - üè¢ 'Derlis Cabrera' Company: NA (Product Analyst | E-commerce, Fintech, and Innovation | Cloud, Python & Javascript learner)
432 - üè¢ 'Charles Anaman' Company: NA (Banking Services \ Computer Engineer \ Network Engineer \ Web\Cyber Security \ Tech - Tutor \ Future Farmer \ Cloud Engineer)
436 - üè¢ 'Deb Ghosh' Company: NA (Lifelong Curious, Lifelong Learner)
438 - üè¢ 'Mandil Karki' Company: NA (NLP Software Engineer | Generative AI | ML Ops | Artificial Intelligence |)
441 - üè¢ 'Lucien Koefoed' Company: NA (Again, faster)
443 - üè¢ 'Luis Emanuel Varela' Company: NA (Safeguard your business with human-focused security. Our solutions unite advanced technology and expertise to simplify defense while maximizing protection. Let's craft an effective solution tailored to your priorities.)
444 - üè¢ 'Maaike Groenewege' Company: NA (Prompt engineering | Conversation design | Linguistics | NLU/NLP | qwertyploinking | I build communities)
447 - üè¢ 'Jon Saltzman' Company: NA (Living at the intersection of people, systems & data)
448 - üè¢ 'Jonas H√∏gh Kyhse-Andersen' Company: NA (Data Scientist - Python enthusiast - Backend developer - MLOps - Podcast)
449 - üè¢ 'Jose Garcia' Company: NA (Process Engineer | Data Analyst | Optimizing Industrial Processes since 2011)
450 - üè¢ 'Mahdi Ebrahimpour' Company: NA (Data Engineer, MLOps, NLP/LLM/GNN/CV)
452 - üè¢ 'Majid Eslami' Company: NA (--)

KeyError: 'LINKEDINBIO'

In [ ]:
# def get_linkedin_url(company):
#     # Init linkedinbio
#     linkedinbio = "UNKNOWN"

#     # Create query
#     query = f"{company.replace(' ', '+')}+LinkedIn+company"
#     print("Google query: ", query)

#     # Search in Google
#     for i in search(query, tld="com", num=10, stop=10, pause=2):
#         pattern = "https:\/\/.+.linkedin.com\/company\/.([^?])+"
#         result = re.search(pattern, i)

#         # Return value if result is not None
#         if result != None:
#             linkedinbio = result.group(0).replace(" ", "")
#             time.sleep(2)
#             return linkedinbio
#     return linkedinbio

# def update_ref_company(
#     df_init,
#     df_contact,
#     ref_company,
#     input_dir
# ):
#     # Init
#     df = df_init.copy()
            
#     # Get companies from direct interactions
#     df_company_d = df_init.copy()
#     df_company_d = df_company_d[df_company_d["PROFILE_URL"].str.contains("https://www.linkedin.com/company/.+")]
#     to_keep = [
#         "FULLNAME",
#         "PROFILE_URL",
#         "INTERACTION_SCORE"
#     ]
#     to_rename = {
#         "FULLNAME": "COMPANY_NAME",
#         "PROFILE_URL": "LINKEDIN_URL",
#         "INTERACTION_SCORE": "DIRECT_INTERACTIONS"
#     }
#     df_company_d = df_company_d[to_keep].rename(columns=to_rename)
    
#     # Get companies from indirect interactions
#     df_company_i = df_contact.copy()
#     to_group = [
#         "COMPANY",
#     ]
#     to_agg = {
#         "INTERACTION_SCORE": "sum"
#     }
#     to_rename = {
#         "COMPANY": "COMPANY_NAME",
#         "INTERACTION_SCORE": "INDIRECT_INTERACTIONS"
#     }
#     df_company_i = df_company_i.groupby(to_group, as_index=False).agg(to_agg).rename(columns=to_rename)
    
#     # Concat
#     fillna = {
#         "LINKEDIN_URL": "TBD",
#         "DIRECT_INTERACTIONS": 0,
#         "INDIRECT_INTERACTIONS": 0
#     }
#     df_company = pd.concat([ref_company, df_company_d, df_company_i]).drop_duplicates("COMPANY_NAME").fillna(fillna)
#     df_company["INTERACTION_SCORE"] = df_company["DIRECT_INTERACTIONS"] * 5 + df_company["INDIRECT_INTERACTIONS"]
#     df_company = df_company.sort_values(by=["INTERACTION_SCORE"], ascending=[False])
#     df_company = df_company[df_company["COMPANY_NAME"] != "TBD"].reset_index(drop=True)
#     for row in df_company.itertuples():
#         index = row.Index
#         company_id = row.COMPANY_ID
#         company_name = row.COMPANY_NAME
#         linkedin_url = row.LINKEDIN_URL
#         interaction_score = row.INTERACTION_SCORE
#         if linkedin_url == "TBD":
#             print(f"{index} - Find LinkedIn URL for '{company_name}'")
#             linkedin_url = get_linkedin_url(company_name)
#             print("LinkedIn URL:", linkedin_url)
#             df_company.loc[index, "LINKEDIN_URL"] = linkedin_url
#             pdump(input_dir, df_company, "companies")
            
#         if "company" in linkedin_url and interaction_score >= 3 and str(company_id) == "None":
#             print(f"{index} - Update LinkedIn data '{company_name}':", linkedin_url, f'({int(interaction_score)})')
#             tmp_df = linkedin.connect(li_at, JSESSIONID).company.get_info(linkedin_url)
#             if len(tmp_df) > 0:
#                 company_name = tmp_df.loc[0, "COMPANY_NAME"].replace(" ", "_").lower()
#                 pdump(input_dir, tmp_df, f"{company_name}_linkedin_company")
#                 df_company.loc[index, "COMPANY_ID"] = tmp_df.loc[0, "COMPANY_ID"]
#                 df_company.loc[index, "COMPANY_NAME"] = tmp_df.loc[0, "COMPANY_NAME"]
#                 df_company.loc[index, "LINKEDIN_URL"] = tmp_df.loc[0, "COMPANY_URL"]
#                 df_company.loc[index, "INDUSTRY"] = tmp_df.loc[0, "INDUSTRY"]
#                 df_company.loc[index, "STAFF_COUNT"] = tmp_df.loc[0, "STAFF_COUNT"]
#                 df_company.loc[index, "STAFF_RANGE"] = tmp_df.loc[0, "STAFF_RANGE"]
#                 df_company.loc[index, "FOLLOWER_COUNT"] = tmp_df.loc[0, "FOLLOWER_COUNT"]
#                 df_company.loc[index, "COUNTRY"] = tmp_df.loc[0, "COUNTRY"]
#                 df_company.loc[index, "CITY"] = tmp_df.loc[0, "CITY"]
#                 df_company.loc[index, "WEBSITE"] = tmp_df.loc[0, "WEBSITE"]
#                 df_company.loc[index, "TAGLINE"] = tmp_df.loc[0, "TAGLINE"]
#                 df_company.loc[index, "DESCRIPTION"] = tmp_df.loc[0, "DESCRIPTION"]
#     return df_company.reset_index(drop=True)

# df_company = update_ref_company(
#     df_profiles,
#     df_contact,
#     ref_company,
#     input_dir
# )
# print("Companies:", len(df_company))
# df_company.head()

## Output

### Send "Leads" to spreadsheet

In [ ]:
gsheet.connect(spreadsheet_url).send(data=df, sheet_name=ref_leads_name, append=False)

### Send "Companies" to spreadsheet

In [ ]:
gsheet.connect(spreadsheet_url).send(data=df_company, sheet_name=ref_company_name, append=False)